# Factors calculation for Fama French Model

In [316]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm
#from sklearn.linear_model import LinearRegression
import scipy, scipy.stats
pd.options.mode.chained_assignment = None  # default='warn'

In [317]:
cd F:\fama n french\

F:\fama n french

In [318]:
#Set years of data to look at: 2007-2018
#start = 2010
#end = 2012

In [319]:
df=pd.read_csv('panel_output_1.csv')
# note: set formate of Date vaiabl in excel 2010-02-01, or yyyy-mm-dd

In [320]:
df.head()

,Symbol,Date,Company,Return,MKTCAP,TRI,TB90,PB,MktPrm
0,1,2010-01-01,Khyber tobacco company ltd,0.0,7575,0.5832,0.39,14.0,0.1932
1,1,2010-02-01,Khyber tobacco company ltd,0.0,7252,0.6830,0.39,9.0,0.2930
2,1,2010-03-01,Khyber tobacco company ltd,0.0,7807,0.2500,0.39,8.0,-0.1400
3,1,2010-04-01,Khyber tobacco company ltd,0.0,1371,0.7200,0.39,8.0,0.3300
4,1,2010-05-01,Khyber tobacco company ltd,0.0,1733,0.6540,0.39,1.0,0.2640

In [321]:
#df.drop('Unnamed: 0',axis=1,inplace=True)# drop column 
df['date'] = pd.to_datetime(df['Date'])
df

,Symbol,Date,Company,Return,MKTCAP,TRI,TB90,PB,MktPrm,date
0,1,2010-01-01,Khyber tobacco company ltd,0.000000,7575,0.5832,0.39,14.0,0.1932,2010-01-01
1,1,2010-02-01,Khyber tobacco company ltd,0.000000,7252,0.6830,0.39,9.0,0.2930,2010-02-01
2,1,2010-03-01,Khyber tobacco company ltd,0.000000,7807,0.2500,0.39,8.0,-0.1400,2010-03-01
3,1,2010-04-01,Khyber tobacco company ltd,0.000000,1371,0.7200,0.39,8.0,0.3300,2010-04-01
4,1,2010-05-01,Khyber tobacco company ltd,0.000000,1733,0.6540,0.39,1.0,0.2640,2010-05-01
...,...,...,...,...,...,...,...,...,...,...
2227,62,2012-08-01,OGDCL,0.147506,198499,0.3000,0.40,1.0,-0.1000,2012-08-01
2228,62,2012-09-01,OGDCL,0.384290,143616,0.7850,0.40,9.0,0.3850,2012-09-01
2229,62,2012-10-01,OGDCL,-0.089491,590029,0.4520,0.40,10.0,0.0520,2012-10-01
2230,62,2012-11-01,OGDCL,0.348557,8624,0.5832,0.40,5.0,0.1832,2012-11-01
2231,62,2012-12-01,OGDCL,0.002999,63612,0.5600,0.40,15.0,0.1600,2012-12-01

In [322]:
df = df.set_index(['date'])
df

,Symbol,Date,Company,Return,MKTCAP,TRI,TB90,PB,MktPrm
date,,,,,,,,,
2010-01-01,1,2010-01-01,Khyber tobacco company ltd,0.000000,7575,0.5832,0.39,14.0,0.1932
2010-02-01,1,2010-02-01,Khyber tobacco company ltd,0.000000,7252,0.6830,0.39,9.0,0.2930
2010-03-01,1,2010-03-01,Khyber tobacco company ltd,0.000000,7807,0.2500,0.39,8.0,-0.1400
2010-04-01,1,2010-04-01,Khyber tobacco company ltd,0.000000,1371,0.7200,0.39,8.0,0.3300
2010-05-01,1,2010-05-01,Khyber tobacco company ltd,0.000000,1733,0.6540,0.39,1.0,0.2640
...,...,...,...,...,...,...,...,...,...
2012-08-01,62,2012-08-01,OGDCL,0.147506,198499,0.3000,0.40,1.0,-0.1000
2012-09-01,62,2012-09-01,OGDCL,0.384290,143616,0.7850,0.40,9.0,0.3850
2012-10-01,62,2012-10-01,OGDCL,-0.089491,590029,0.4520,0.40,10.0,0.0520
2012-11-01,62,2012-11-01,OGDCL,0.348557,8624,0.5832,0.40,5.0,0.1832
2012-12-01,62,2012-12-01,OGDCL,0.002999,63612,0.5600,0.40,15.0,0.1600

In [323]:
def dfResetIndex (df):
    """
    Resets index each time a df is made
    """
    
    return df.reset_index(drop = True)

In [324]:
def calcRf (df):
    """
    Returns Rf for FF
    """
    df = dfResetIndex (df)
    return round(df.TB90[1], 4)

In [303]:
# def fillMktPrem (df, s, e):
#     """
#     Fills in MktPrem to DF
#     """
#     dfNew = df
#     dfNew['MKtReturn'] = ""
#     dfNew['MktPrem'] = ""
#     fileRange = np.arange(s, e)    
#     for i in fileRange:
#         dfNew['MKtReturn'].loc[dfNew['Date'] == i+1] = (dfNew['TRI'].loc[dfNew['Date'] == i+1].iloc[0] / dfNew['TRI'].loc[dfNew['Date'] == i].iloc[0] - 1)*100
#     return dfNew

In [286]:
# def calcMktPrem (df):
#     """
#     Returns Mkt Premium for FF
#     """
#     df = dfResetIndex(df)
#     return df.MktPrem[1]

In [344]:
def calcMktPrem (df):
    """
    Returns Mkt Premium for FF
    """
    df = dfResetIndex(df)
    return round(df.MktPrm[1],4)

In [325]:
def calcReturn(df):
    """
    Gives return of individual security from portfolio
    """
   
    return round(df.Return.mean(), 4)

In [326]:
def calcSMB(df):
    """
    Returns SMB for FF
    """
    #Define Quantile
    SQuantile = 0.3
    LQuantile = 0.7
    df["SMB"] = ""
    
    #Assigns stock size based on market cap
    df.SMB[df.MKTCAP <= df.MKTCAP.quantile(SQuantile)] = "SCap"
    df.SMB[(df.MKTCAP > df.MKTCAP.quantile(SQuantile)) & (df.MKTCAP < df.MKTCAP.quantile(LQuantile))] = "MCap"
    df.SMB[df.MKTCAP >= df.MKTCAP.quantile(LQuantile)] = "LCap"
    
    #Calculates average return of stocks in portfolio subset based on size
    SmallCapReturn = df.Return.loc[df["SMB"] == "SCap"].mean()
    LargeCapReturn = df.Return.loc[df["SMB"] == "LCap"].mean()
    
    #Returns SMB based on definition
    SMB = SmallCapReturn - LargeCapReturn
    return round(SMB, 4)

In [327]:
def calcHML (df):
    """
    Returns HML for FF
    Uses inverse of P/B as proxy for Book/Mkt
    """
    #Define Quantile
    SQuantile = 0.3
    LQuantile = 0.7
    df["HML"] = ""
    df["BP"] = df.PB**(-1) #Create Book/MktValue Proxy
    
    #Assigns stock size based on market cap
    df.HML[df.BP <= df.BP.quantile(SQuantile)] = "SValue"
    df.HML[(df.BP > df.BP.quantile(SQuantile)) & (df.BP < df.BP.quantile(LQuantile))] = "MValue"
    df.HML[df.BP >= df.BP.quantile(LQuantile)] = "LValue"
    
    #Calculates average return of stocks in portfolio subset based on size
    SmallValueReturn = df.Return.loc[df["HML"] == "SValue"].mean()
    LargeValueReturn = df.Return.loc[df["HML"] == "LValue"].mean()
    
    #Returns SMB based on definition
    HML = SmallValueReturn - LargeValueReturn
    return round(HML, 4)

In [27]:
###Continue Cleanup
#Drop First Year
df = df.loc[df['Year'] != start]
df = df.reset_index(drop = True)

In [328]:
d = pd.date_range(start='1/1/2010', end='12/1/2012', freq='MS')    
print(d)
#There it states that 'M' is for the end of the month (month end frequency) 
#while 'MS' for the beginning (month start frequency).

DatetimeIndex(['2010-01-01', '2010-02-01', '2010-03-01', '2010-04-01',
               '2010-05-01', '2010-06-01', '2010-07-01', '2010-08-01',
               '2010-09-01', '2010-10-01', '2010-11-01', '2010-12-01',
               '2011-01-01', '2011-02-01', '2011-03-01', '2011-04-01',
               '2011-05-01', '2011-06-01', '2011-07-01', '2011-08-01',
               '2011-09-01', '2011-10-01', '2011-11-01', '2011-12-01',
               '2012-01-01', '2012-02-01', '2012-03-01', '2012-04-01',
               '2012-05-01', '2012-06-01', '2012-07-01', '2012-08-01',
               '2012-09-01', '2012-10-01', '2012-11-01', '2012-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [329]:
type(d),d[0]

(pandas.core.indexes.datetimes.DatetimeIndex,
 Timestamp('2010-01-01 00:00:00', freq='MS'))

In [330]:
dt=d.strftime("%Y-%m-%d")

In [331]:
dt[0],dt[len(dt)-1]

('2010-01-01', '2012-12-01')

In [332]:
dt=d.strftime("%Y-%m-%d")
dt[1]

'2010-02-01'

In [345]:
dff = pd.DataFrame(columns =['Date','Returns',"SMB","HML","Rf","MktPrem"])#"Rf",#"MktPrem",#"HML","SMB"  ])

In [346]:
for i in dt:
    dff.loc[i] = [i, calcReturn(df.loc[df['Date'] == i]),
                     calcSMB(df.loc[df['Date'] == i]),
                     calcHML(df.loc[df['Date'] == i]),
                     calcRf(df.loc[df['Date'] == i]),
                     calcMktPrem(df.loc[df['Date'] == i])
                 ]

In [347]:
dff

                  Date  Returns     SMB     HML    Rf   MktPrem
2010-01-01  2010-01-01  -0.0280 -0.0192 -0.0134  0.39    0.1932
2010-02-01  2010-02-01   0.0486  0.0836  0.0320  0.39    0.2930
2010-03-01  2010-03-01  -0.0290  0.0034 -0.0029  0.39   -0.1400
2010-04-01  2010-04-01   0.0276  0.0845 -0.0432  0.39    0.3300
2010-05-01  2010-05-01  -0.1517  0.0140 -0.0184  0.39    0.2640
2010-06-01  2010-06-01  -0.0038 -0.0072 -0.0350  0.39    0.2600
2010-07-01  2010-07-01   0.0864  0.0135 -0.0528  0.39  253.6100
2010-08-01  2010-08-01  -0.0787  0.0337  0.0122  0.39    0.2100
2010-09-01  2010-09-01   0.0574  0.0576 -0.0489  0.39   -0.0900
2010-10-01  2010-10-01   0.0218 -0.1089  0.0618  0.39    0.3950
2010-11-01  2010-11-01   0.0234 -0.0004 -0.0243  0.39    0.0620
2010-12-01  2010-12-01   0.0686  0.0845 -0.0512  0.39    0.0620
2011-01-01  2011-01-01  -0.0168  0.0544  0.0410  1.25   -0.6668
2011-02-01  2011-02-01  -0.0332  0.1150 -0.0163  1.25   -0.5670
2011-03-01  2011-03-01   0.0137  0.0384  0.0161  1.25   -1.0000
2011-04-01  2011-04-01  -0.0119 -0.0301  0.0411  1.25   -0.5300
2011-05-01  2011-05-01  -0.0149  0.0348 -0.0449  1.25   -0.5960
2011-06-01  2011-06-01  -0.0488 -0.0568  0.0318  1.25   -0.6000
2011-07-01  2011-07-01  -0.0225  0.0212 -0.0081  1.25  252.7500
2011-08-01  2011-08-01  -0.0707  0.0124  0.0144  1.25   -0.6500
2011-09-01  2011-09-01   0.0592  0.0608 -0.0290  1.25   -0.9500
2011-10-01  2011-10-01  -0.0879 -0.0393  0.0415  1.25   -0.4650
2011-11-01  2011-11-01  -0.0324  0.0942 -0.0987  1.25   -0.7980
2011-12-01  2011-12-01  -0.0206  0.0128 -0.0240  1.25   -0.7980
2012-01-01  2012-01-01   0.0335 -0.0094  0.0294  0.40    0.1832
2012-02-01  2012-02-01   0.0998 -0.0919  0.0153  0.40    0.2830
2012-03-01  2012-03-01   0.0943 -0.0227  0.0559  0.40   -0.1500
2012-04-01  2012-04-01   0.1017  0.0266  0.0810  0.40    0.3200
2012-05-01  2012-05-01   0.0322 -0.0461 -0.0489  0.40    0.2540
2012-06-01  2012-06-01   0.0149  0.0806 -0.0102  0.40    0.2500
2012-07-01  2012-07-01   0.0435 -0.0397 -0.0339  0.40  253.6000
2012-08-01  2012-08-01   0.0792 -0.0112 -0.0159  0.40    0.2000
2012-09-01  2012-09-01  -0.0154  0.0025 -0.0418  0.40   -0.1000
2012-10-01  2012-10-01   0.0818  0.0998  0.0164  0.40    0.3850
2012-11-01  2012-11-01   0.1156  0.0949 -0.1155  0.40    0.0520
2012-12-01  2012-12-01   0.0198  0.1089 -0.0200  0.40    0.0520

In [149]:
# Refernces and codes

In [150]:
#https://towardsdatascience.com/working-with-datetime-in-pandas-dataframe-663f7af6c587

In [151]:
# df['Date'] = pd.to_datetime(df['Date'], format="%Y-%m-%d")
# df

# rows=dt[0]
# columns=['Return']
# df.loc[rows,columns].mean()